
<thead>
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Affiliation (in 2011, if in data)</th>
        <th>Value</th>
    </tr>
</thead>
<tbody>
<tr><td>1</td><td>KOSE JOHN</td><td>NEW YORK UNIVERSITY</td><td>0.3632</td></tr>
<tr><td>2</td><td>ITAY GOLDSTEIN</td><td>UNIVERSITY OF PENNSYLVANIA</td><td>0.353</td></tr>
<tr><td>3</td><td>LUCIAN A BEBCHUK</td><td>HARVARD UNIVERSITY</td><td>0.3272</td></tr>
<tr><td>4</td><td>KJ MARTIJN CREMERS</td><td>YALE UNIVERSITY</td><td>0.3212</td></tr>
<tr><td>5</td><td>ALON BRAV</td><td>DUKE UNIVERSITY</td><td>0.3197</td></tr>
<tr><td>6</td><td>VINAY B NAIR</td><td></td><td>0.2585</td></tr>
<tr><td>7</td><td>IFTEKHAR HASAN</td><td>RENSSELAER POLYTECHNIC INSTITUTE</td><td>0.2208</td></tr>
<tr><td>8</td><td>JOHN R GRAHAM</td><td>DUKE UNIVERSITY</td><td>0.2177</td></tr>
<tr><td>9</td><td>MIGUEL A FERREIRA</td><td>NEW UNIVERSITY OF LISBON (NOVA)</td><td>0.1944</td></tr>
<tr><td>10</td><td>MICHAEL W BRANDT</td><td>DUKE UNIVERSITY</td><td>0.1913</td></tr>
<tr><td>11</td><td>VIRAL V ACHARYA</td><td>NEW YORK UNIVERSITY</td><td>0.1863</td></tr>
<tr><td>12</td><td>PEDRO SANTA-CLARA</td><td>NEW UNIVERSITY OF LISBON (NOVA)</td><td>0.1655</td></tr>
<tr><td>13</td><td>CAMPBELL R HARVEY</td><td>DUKE UNIVERSITY</td><td>0.1475</td></tr>
<tr><td>14</td><td>ALLEN N BERGER</td><td>UNIVERSITY OF SOUTH CAROLINA</td><td>0.1438</td></tr>
<tr><td>15</td><td>ANTHONY SAUNDERS</td><td>NEW YORK UNIVERSITY</td><td>0.1319</td></tr>
<tr><td>16</td><td>BRUCE I CARLIN</td><td>UNIVERSITY OF CALIFORNIA, LOS ANGELES</td><td>0.1217</td></tr>
<tr><td>17</td><td>AUGUSTIN LANDIER</td><td></td><td>0.1197</td></tr>
<tr><td>18</td><td>SIMON GERVAIS</td><td>DUKE UNIVERSITY</td><td>0.1159</td></tr>
<tr><td>19</td><td>SRIDHAR VISWANATHAN</td><td>DUKE UNIVERSITY</td><td>0.1124</td></tr>
<tr><td>20</td><td>TERRANCE ODEAN</td><td>UNIVERSITY OF CALIFORNIA, BERKELEY</td><td>0.1106</td></tr>
<tr><td>21</td><td>VICTORIA IVASHINA</td><td>HARVARD UNIVERSITY</td><td>0.1057</td></tr>
<tr><td>22</td><td>ERASMO GIAMBONA</td><td>UNIVERSITY OF AMSTERDAM</td><td>0.1041</td></tr>
<tr><td>23</td><td>MURILLO CAMPELLO</td><td>CORNELL UNIVERSITY</td><td>0.1</td></tr>
<tr><td>24</td><td>MICAH S OFFICER</td><td>LOYOLA MARYMOUNT UNIVERSITY</td><td>0.0954</td></tr>
<tr><td>25</td><td>DAVID S SCHARFSTEIN</td><td></td><td>0.094</td></tr>
<tr><td>26</td><td>RENE M STULZ</td><td>OHIO STATE UNIVERSITY</td><td>0.094</td></tr>
<tr><td>27</td><td>JORG ROCHOLL</td><td>ESMT EUROPEAN SCHOOL OF MANAGEMENT AND TECHNOLOGY</td><td>0.0904</td></tr>
<tr><td>28</td><td>HENRIK CRONQVIST</td><td></td><td>0.0839</td></tr>
<tr><td>29</td><td>GEERT BEKAERT</td><td>COLUMBIA UNIVERSITY</td><td>0.0836</td></tr>
<tr><td>30</td><td>DARIUS P MILLER</td><td></td><td>0.0834</td></tr>
<tr><td>31</td><td>STEPHAN SIEGEL</td><td>UNIVERSITY OF WASHINGTON</td><td>0.0817</td></tr>
<tr><td>32</td><td>NUNO FERNANDES</td><td></td><td>0.0814</td></tr>
<tr><td>33</td><td>MASSIMO MASSA</td><td>INSEAD</td><td>0.078</td></tr>
<tr><td>34</td><td>YU-JANE LIU</td><td></td><td>0.0777</td></tr>
<tr><td>35</td><td>RUDIGER FAHLENBRACH</td><td>ECOLE POLYTECHNIQUE FEDERALE DE LAUSANNE</td><td>0.0758</td></tr>
<tr><td>36</td><td>OGUZHAN OZBAS</td><td></td><td>0.0749</td></tr>
<tr><td>37</td><td>DEBARSHI K NANDY</td><td>BRANDEIS UNIVERSITY</td><td>0.0707</td></tr>
<tr><td>38</td><td>KJELL G NYBORG</td><td>UNIVERSITY OF ZURICH</td><td>0.0678</td></tr>
<tr><td>39</td><td>CHEN LIN</td><td>CHINESE UNIVERSITY OF HONG KONG</td><td>0.0656</td></tr>
<tr><td>40</td><td>DAVID J THESMAR</td><td>HEC PARIS</td><td>0.0648</td></tr>
<tr><td>41</td><td>PAUL WACHTEL</td><td>NEW YORK UNIVERSITY</td><td>0.0642</td></tr>
<tr><td>42</td><td>SASCHA STEFFEN</td><td>UNIVERSITY OF MANNHEIM</td><td>0.0634</td></tr>
<tr><td>43</td><td>ALEX EDMANS</td><td>UNIVERSITY OF PENNSYLVANIA</td><td>0.0614</td></tr>
<tr><td>44</td><td>AMIT SERU</td><td>UNIVERSITY OF CHICAGO</td><td>0.0593</td></tr>
<tr><td>45</td><td>WEI JIANG</td><td></td><td>0.0589</td></tr>
<tr><td>46</td><td>ILYA A STREBULAEV</td><td>STANFORD UNIVERSITY</td><td>0.0586</td></tr>
<tr><td>47</td><td>RAINER HASELMANN</td><td>UNIVERSITY OF BONN</td><td>0.0585</td></tr>
<tr><td>48</td><td>KAI LI</td><td>UNIVERSITY OF BRITISH COLUMBIA</td><td>0.0564</td></tr>
<tr><td>49</td><td>YANIV GRINSTEIN</td><td></td><td>0.0561</td></tr>
<tr><td>50</td><td>VIKRANT VIG</td><td></td><td>0.0537</td></tr>
<tr><td>51</td><td>ROBIN GREENWOOD</td><td>HARVARD UNIVERSITY</td><td>0.0525</td></tr>
<tr><td>52</td><td>ANNA KOVNER</td><td>FEDERAL RESERVE BANK OF NEW YORK</td><td>0.0522</td></tr>
<tr><td>53</td><td>VIDHI CHHAOCHHARIA</td><td></td><td>0.0522</td></tr>
<tr><td>54</td><td>JULES H VAN BINSBERGEN</td><td></td><td>0.052</td></tr>
<tr><td>55</td><td>THOMAS J CHEMMANUR</td><td>BOSTON COLLEGE</td><td>0.0511</td></tr>
<tr><td>56</td><td>PHILIP BOND</td><td></td><td>0.0509</td></tr>
<tr><td>57</td><td>XIAOYAN ZHANG</td><td></td><td>0.0505</td></tr>
<tr><td>58</td><td>RALPH SJ KOIJEN</td><td></td><td>0.049</td></tr>
<tr><td>59</td><td>W SCOTT FRAME</td><td>FEDERAL RESERVE BANK OF ATLANTA</td><td>0.0457</td></tr>
<tr><td>60</td><td>BERNADETTE A MINTON</td><td>OHIO STATE UNIVERSITY</td><td>0.0457</td></tr>
<tr><td>61</td><td>DAVID K MUSTO</td><td></td><td>0.0431</td></tr>
<tr><td>62</td><td>LUC LAEVEN</td><td></td><td>0.0427</td></tr>
<tr><td>63</td><td>G ANDREW KAROLYI</td><td>CORNELL UNIVERSITY</td><td>0.0425</td></tr>
<tr><td>64</td><td>EUGENE KANDEL</td><td>HEBREW UNIVERSITY OF JERUSALEM</td><td>0.0413</td></tr>
<tr><td>65</td><td>ADAM V REED</td><td></td><td>0.0411</td></tr>
<tr><td>66</td><td>STEVEN ONGENA</td><td>TILBURG UNIVERSITY</td><td>0.0399</td></tr>
<tr><td>67</td><td>ANDREW METRICK</td><td></td><td>0.0399</td></tr>
<tr><td>68</td><td>HAITAO LI</td><td></td><td>0.0394</td></tr>
<tr><td>69</td><td>ADAM B ASHCRAFT</td><td>FEDERAL RESERVE BANK OF NEW YORK</td><td>0.0393</td></tr>
<tr><td>69</td><td>HARJOAT S BHAMRA</td><td></td><td>0.0393</td></tr>
<tr><td>69</td><td>SOEHNKE M BARTRAM</td><td></td><td>0.0393</td></tr>
<tr><td>72</td><td>PAUL A GOMPERS</td><td></td><td>0.0391</td></tr>
<tr><td>73</td><td>GUSTAVO MANSO</td><td>MASSACHUSETTS INSTITUTE OF TECHNOLOGY</td><td>0.0389</td></tr>
<tr><td>74</td><td>JOSHUA LERNER</td><td>HARVARD UNIVERSITY</td><td>0.0381</td></tr>
<tr><td>75</td><td>HYUN SONG SHIN</td><td>PRINCETON UNIVERSITY</td><td>0.0365</td></tr>
<tr><td>76</td><td>GERALDO CERQUEIRO</td><td>UNIVERSITY CATOLICA PORTUGUESA</td><td>0.0362</td></tr>
<tr><td>77</td><td>TIMOTHY C JOHNSON</td><td>UNIVERSITY OF ILLINOIS, URBANA-CHAMPAIGN</td><td>0.0362</td></tr>
<tr><td>78</td><td>RAMAN UPPAL</td><td></td><td>0.0362</td></tr>
<tr><td>79</td><td>ADAIR MORSE</td><td>UNIVERSITY OF CHICAGO</td><td>0.0361</td></tr>
<tr><td>80</td><td>CRAIG DOIDGE</td><td></td><td>0.0361</td></tr>
<tr><td>81</td><td>ALOK KUMAR</td><td>UNIVERSITY OF MIAMI</td><td>0.0358</td></tr>
<tr><td>82</td><td>ANGIE LOW</td><td></td><td>0.0347</td></tr>
<tr><td>83</td><td>JARRAD HARFORD</td><td>UNIVERSITY OF WASHINGTON</td><td>0.0346</td></tr>
<tr><td>84</td><td>KARL V LINS</td><td></td><td>0.0342</td></tr>
<tr><td>85</td><td>VASSO P IOANNIDOU</td><td>TILBURG UNIVERSITY</td><td>0.0339</td></tr>
<tr><td>86</td><td>GANG HU</td><td></td><td>0.0333</td></tr>
<tr><td>87</td><td>PER STROMBERG</td><td>STOCKHOLM SCHOOL OF ECONOMICS</td><td>0.0333</td></tr>
<tr><td>88</td><td>PRACHI DEUSKAR</td><td>UNIVERSITY OF ILLINOIS, URBANA-CHAMPAIGN</td><td>0.0332</td></tr>
<tr><td>89</td><td>SHANE A JOHNSON</td><td>TEXAS A&M UNIVERSITY</td><td>0.033</td></tr>
<tr><td>90</td><td>STIJN G VAN NIEUWERBURGH</td><td>NEW YORK UNIVERSITY</td><td>0.033</td></tr>
<tr><td>91</td><td>NADIA MASSOUD</td><td>YORK UNIVERSITY</td><td>0.0329</td></tr>
<tr><td>92</td><td>KEWEI HOU</td><td>OHIO STATE UNIVERSITY</td><td>0.0328</td></tr>
<tr><td>93</td><td>JI-CHAI LIN</td><td></td><td>0.0328</td></tr>
<tr><td>93</td><td>MEGHANA AYYAGARI</td><td></td><td>0.0328</td></tr>
<tr><td>93</td><td>KEVIN ARETZ</td><td>LANCASTER UNIVERSITY</td><td>0.0328</td></tr>
<tr><td>96</td><td>SANDY KLASA</td><td></td><td>0.0326</td></tr>
<tr><td>97</td><td>ISIL EREL</td><td>OHIO STATE UNIVERSITY</td><td>0.0324</td></tr>
<tr><td>97</td><td>REENA AGGARWAL</td><td>GEORGETOWN UNIVERSITY</td><td>0.0324</td></tr>
<tr><td>99</td><td>HONG ZOU</td><td>CITY UNIVERSITY HONG KONG</td><td>0.031</td></tr>
<tr><td>100</td><td>R DAVID MCLEAN</td><td>UNIVERSITY OF ALBERTA</td><td>0.0303</td></tr>
<tr><td>101</td><td>VIKRAM K NANDA</td><td>GEORGIA INSTITUTE OF TECHNOLOGY</td><td>0.03</td></tr>
<tr><td>102</td><td>MARK B SHACKLETON</td><td>LANCASTER UNIVERSITY</td><td>0.0297</td></tr>
<tr><td>103</td><td>JACK BAO</td><td>OHIO STATE UNIVERSITY</td><td>0.0296</td></tr>
<tr><td>104</td><td>JEFFREY PONTIFF</td><td></td><td>0.029</td></tr>
<tr><td>105</td><td>PAUL J IRVINE</td><td></td><td>0.0288</td></tr>
<tr><td>106</td><td>GARA AFONSO</td><td>FEDERAL RESERVE BANK OF NEW YORK</td><td>0.0283</td></tr>
<tr><td>107</td><td>JAMES J MCANDREWS</td><td>FEDERAL RESERVE BANK OF NEW YORK</td><td>0.028</td></tr>
<tr><td>108</td><td>SREEDHAR T BHARATH</td><td>UNIVERSITY OF MICHIGAN</td><td>0.0264</td></tr>
<tr><td>109</td><td>AJAI K SINGH</td><td></td><td>0.0264</td></tr>
<tr><td>109</td><td>STEVEN N KAPLAN</td><td></td><td>0.0264</td></tr>
<tr><td>111</td><td>AYAKO YASUDA</td><td></td><td>0.0263</td></tr>
<tr><td>112</td><td>LILY HUA FANG</td><td></td><td>0.0254</td></tr>
<tr><td>113</td><td>JOEL PERESS</td><td></td><td>0.0251</td></tr>
<tr><td>114</td><td>WILLIAM F MAXWELL</td><td></td><td>0.0248</td></tr>
<tr><td>115</td><td>NING ZHU</td><td></td><td>0.0239</td></tr>
<tr><td>116</td><td>SHAN HE</td><td></td><td>0.0232</td></tr>
<tr><td>117</td><td>DAVID A HIRSHLEIFER</td><td>UNIVERSITY OF CALIFORNIA, IRVINE</td><td>0.0232</td></tr>
<tr><td>118</td><td>STEFAN NAGEL</td><td>STANFORD UNIVERSITY</td><td>0.0232</td></tr>
<tr><td>118</td><td>LORENZO GARLAPPI</td><td>UNIVERSITY OF BRITISH COLUMBIA</td><td>0.0232</td></tr>
<tr><td>120</td><td>JOSHUA D RAUH</td><td>NORTHWESTERN UNIVERSITY</td><td>0.0231</td></tr>
<tr><td>121</td><td>HEITOR W ALMEIDA</td><td>UNIVERSITY OF ILLINOIS, URBANA-CHAMPAIGN</td><td>0.0231</td></tr>
<tr><td>122</td><td>JIANG WANG</td><td>MASSACHUSETTS INSTITUTE OF TECHNOLOGY</td><td>0.0231</td></tr>
<tr><td>122</td><td>ROSS LEVINE</td><td></td><td>0.0231</td></tr>
<tr><td>124</td><td>BERK A SENSOY</td><td>OHIO STATE UNIVERSITY</td><td>0.022</td></tr>
<tr><td>125</td><td>KARTHIK KRISHNAN</td><td>NORTHEASTERN UNIVERSITY</td><td>0.0214</td></tr>
<tr><td>126</td><td>KATHLEEN M KAHLE</td><td></td><td>0.0211</td></tr>
<tr><td>127</td><td>MARTIN BROWN</td><td>SCHWEIZERISCHE NATIONALBANK</td><td>0.0199</td></tr>
<tr><td>128</td><td>HENDRIK BESSEMBINDER</td><td></td><td>0.0199</td></tr>
<tr><td>129</td><td>RADHAKRISHNAN GOPALAN</td><td>WASHINGTON UNIVERSITY</td><td>0.0199</td></tr>
<tr><td>130</td><td>MARK S SEASHOLES</td><td></td><td>0.0198</td></tr>
<tr><td>131</td><td>JENNIFER HUANG</td><td>UNIVERSITY OF TEXAS, AUSTIN</td><td>0.0198</td></tr>
<tr><td>131</td><td>VOJISLAV MAKSIMOVIC</td><td>UNIVERSITY OF MARYLAND</td><td>0.0198</td></tr>
<tr><td>133</td><td>ALEXANDER DYCK</td><td></td><td>0.0197</td></tr>
<tr><td>134</td><td>URS C PEYER</td><td>INSEAD</td><td>0.019</td></tr>
<tr><td>135</td><td>LU ZHENG</td><td>UNIVERSITY OF CALIFORNIA, IRVINE</td><td>0.0174</td></tr>
<tr><td>136</td><td>AMIR SUFI</td><td></td><td>0.0166</td></tr>
<tr><td>137</td><td>DANIEL FERREIRA</td><td>LONDON SCHOOL OF ECONOMICS AND POLITICAL SCIENCE</td><td>0.0166</td></tr>
<tr><td>138</td><td>LUIGI ZINGALES</td><td></td><td>0.0166</td></tr>
<tr><td>139</td><td>THORSTEN BECK</td><td></td><td>0.0166</td></tr>
<tr><td>139</td><td>ALESSANDRO BEBER</td><td>CITY UNIVERSITY LONDON</td><td>0.0166</td></tr>
<tr><td>139</td><td>PAOLO PASQUARIELLO</td><td></td><td>0.0166</td></tr>
<tr><td>142</td><td>WARREN BAILEY</td><td>CORNELL UNIVERSITY</td><td>0.0137</td></tr>
<tr><td>143</td><td>KENNETH J SINGLETON</td><td>STANFORD UNIVERSITY</td><td>0.0133</td></tr>
<tr><td>143</td><td>HANS DEGRYSE</td><td>TILBURG UNIVERSITY</td><td>0.0133</td></tr>
<tr><td>145</td><td>PIETRO VERONESI</td><td></td><td>0.0133</td></tr>
<tr><td>146</td><td>NAGPURNANAND R PRABHALA</td><td>UNIVERSITY OF MARYLAND</td><td>0.0133</td></tr>
<tr><td>147</td><td>MARIA SOLEDAD MARTINEZ PERIA</td><td></td><td>0.0133</td></tr>
<tr><td>148</td><td>SURESH M SUNDARESAN</td><td>COLUMBIA UNIVERSITY</td><td>0.0133</td></tr>
<tr><td>149</td><td>CNV KRISHNAN</td><td></td><td>0.0133</td></tr>
<tr><td>149</td><td>MARIASSUNTA GIANNETTI</td><td>STOCKHOLM SCHOOL OF ECONOMICS</td><td>0.0133</td></tr>
<tr><td>149</td><td>STEPHEN J TAYLOR</td><td></td><td>0.0133</td></tr>
<tr><td>149</td><td>CLARA VEGA</td><td></td><td>0.0133</td></tr>
<tr><td>149</td><td>MATTIAS NILSSON</td><td></td><td>0.0133</td></tr>
<tr><td>149</td><td>MICHAEL KOETTER</td><td></td><td>0.0133</td></tr>
<tr><td>149</td><td>MARTI G SUBRAHMANYAM</td><td>NEW YORK UNIVERSITY</td><td>0.0133</td></tr>
<tr><td>149</td><td>GEORGIOS SKOULAKIS</td><td>UNIVERSITY OF MARYLAND</td><td>0.0133</td></tr>
<tr><td>149</td><td>CLEMENS SIALM</td><td>UNIVERSITY OF TEXAS, AUSTIN</td><td>0.0133</td></tr>
<tr><td>158</td><td>BRADFORD D JORDAN</td><td></td><td>0.0133</td></tr>
<tr><td>159</td><td>ALEXEI TCHISTYI</td><td>UNIVERSITY OF CALIFORNIA, BERKELEY</td><td>0.0124</td></tr>
<tr><td>160</td><td>DIRK HACKBARTH</td><td>UNIVERSITY OF ILLINOIS, URBANA-CHAMPAIGN</td><td>0.0121</td></tr>
<tr><td>161</td><td>QI CHEN</td><td></td><td>0.0119</td></tr>
<tr><td>161</td><td>MICHAEL D BRADLEY</td><td></td><td>0.0119</td></tr>
<tr><td>163</td><td>YAN LEUNG CHEUNG</td><td>HONG KONG BAPTIST UNIVERSITY</td><td>0.0119</td></tr>
<tr><td>164</td><td>TOMASZ PISKORSKI</td><td>COLUMBIA UNIVERSITY</td><td>0.0118</td></tr>
<tr><td>165</td><td>MARCO A ESPINOSA-VEGA</td><td>INTERNATIONAL MONETARY FUND</td><td>0.0118</td></tr>
<tr><td>165</td><td>NATHAN H MILLER</td><td>U.S. DEPARTMENT OF JUSTICE</td><td>0.0118</td></tr>
<tr><td>167</td><td>PEDRO MATOS</td><td>UNIVERSITY OF SOUTHERN CALIFORNIA</td><td>0.0106</td></tr>
<tr><td>168</td><td>MARK H LIU</td><td>UNIVERSITY OF KENTUCKY</td><td>0.01</td></tr>
<tr><td>169</td><td>HANNO N LUSTIG</td><td>UNIVERSITY OF CALIFORNIA, LOS ANGELES</td><td>0.01</td></tr>
<tr><td>170</td><td>ANDREA BURASCHI</td><td></td><td>0.01</td></tr>
<tr><td>171</td><td>MICHELLE LOWRY</td><td>PENNSYLVANIA STATE UNIVERSITY</td><td>0.01</td></tr>
<tr><td>171</td><td>TODD T MILBOURN</td><td>WASHINGTON UNIVERSITY</td><td>0.01</td></tr>
<tr><td>171</td><td>OHAD KADAN</td><td></td><td>0.01</td></tr>
<tr><td>171</td><td>TIGRAN POGHOSYAN</td><td></td><td>0.01</td></tr>
<tr><td>171</td><td>CHRISTA HS BOUWMAN</td><td>CASE WESTERN RESERVE UNIVERSITY</td><td>0.01</td></tr>
<tr><td>171</td><td>ZHENYU WANG</td><td>FEDERAL RESERVE BANK OF NEW YORK</td><td>0.01</td></tr>
<tr><td>171</td><td>DIRK JENTER</td><td>STANFORD UNIVERSITY</td><td>0.01</td></tr>
<tr><td>178</td><td>LEONARDO BARTOLINI</td><td>FEDERAL RESERVE BANK OF NEW YORK</td><td>0.0099</td></tr>
<tr><td>178</td><td>SPENCE HILTON</td><td>FEDERAL RESERVE BANK OF NEW YORK</td><td>0.0099</td></tr>
<tr><td>180</td><td>SHEEN LIU</td><td></td><td>0.0099</td></tr>
<tr><td>181</td><td>YAN HE</td><td></td><td>0.0099</td></tr>
<tr><td>182</td><td>ANTONIO F GALVAO</td><td></td><td>0.0088</td></tr>
<tr><td>183</td><td>PAUL H MALATESTA</td><td>UNIVERSITY OF WASHINGTON</td><td>0.0083</td></tr>
<tr><td>184</td><td>PETER TUFANO</td><td></td><td>0.0083</td></tr>
<tr><td>185</td><td>ANDREW ANG</td><td>COLUMBIA UNIVERSITY</td><td>0.0067</td></tr>
<tr><td>186</td><td>TONI M WHITED</td><td>UNIVERSITY OF ROCHESTER</td><td>0.0067</td></tr>
<tr><td>187</td><td>E HAN KIM</td><td>UNIVERSITY OF MICHIGAN</td><td>0.0067</td></tr>
<tr><td>187</td><td>JOSHUA M POLLET</td><td>MICHIGAN STATE UNIVERSITY</td><td>0.0067</td></tr>
<tr><td>189</td><td>BO BECKER</td><td>HARVARD UNIVERSITY</td><td>0.0067</td></tr>
<tr><td>190</td><td>C FRITZ FOLEY</td><td>HARVARD UNIVERSITY</td><td>0.0067</td></tr>
<tr><td>191</td><td>JON WONGSWAN</td><td>PHATRA SECURITIES</td><td>0.0067</td></tr>
<tr><td>191</td><td>ASLI DEMIRGUC-KUNT</td><td></td><td>0.0067</td></tr>
<tr><td>191</td><td>DAVID I LAIBSON</td><td>HARVARD UNIVERSITY</td><td>0.0067</td></tr>
<tr><td>191</td><td>OLIVER G SPALT</td><td>TILBURG UNIVERSITY</td><td>0.0067</td></tr>
<tr><td>191</td><td>PAIGE P OUIMET</td><td></td><td>0.0067</td></tr>
<tr><td>191</td><td>AN YAN</td><td></td><td>0.0067</td></tr>
<tr><td>191</td><td>MIKE BURKART</td><td>STOCKHOLM SCHOOL OF ECONOMICS</td><td>0.0067</td></tr>
<tr><td>191</td><td>PETER H RITCHKEN</td><td></td><td>0.0067</td></tr>
<tr><td>191</td><td>DONG WOOK LEE</td><td>KOREA UNIVERSITY</td><td>0.0067</td></tr>
<tr><td>191</td><td>CHRISTIAN T LUNDBLAD</td><td>UNIVERSITY OF NORTH CAROLINA</td><td>0.0067</td></tr>
<tr><td>191</td><td>ROSSEN VALKANOV</td><td></td><td>0.0067</td></tr>
<tr><td>191</td><td>KLAUS SCHAECK</td><td>UNIVERSITY OF WALES</td><td>0.0067</td></tr>
<tr><td>191</td><td>RALPH DE HAAS</td><td></td><td>0.0067</td></tr>
<tr><td>191</td><td>TOBIAS ADRIAN</td><td></td><td>0.0067</td></tr>
<tr><td>191</td><td>MARIOS A PANAYIDES</td><td>UNIVERSITY OF PITTSBURGH</td><td>0.0067</td></tr>
<tr><td>191</td><td>AMRUT NASHIKKAR</td><td>NEW YORK UNIVERSITY</td><td>0.0067</td></tr>
<tr><td>191</td><td>MICHAEL R ROBERTS</td><td></td><td>0.0067</td></tr>
<tr><td>191</td><td>G DAVID HAUSHALTER</td><td>PENNSYLVANIA STATE UNIVERSITY</td><td>0.0067</td></tr>
<tr><td>191</td><td>EVZEN KOCENDA</td><td>CHARLES UNIVERSITY, PRAGUE</td><td>0.0067</td></tr>
<tr><td>191</td><td>GERARD HOBERG</td><td></td><td>0.0067</td></tr>
<tr><td>191</td><td>HAI LIN</td><td>UNIVERSITY OF OTAGO</td><td>0.0067</td></tr>
<tr><td>191</td><td>YAKOV AMIHUD</td><td>NEW YORK UNIVERSITY</td><td>0.0067</td></tr>
<tr><td>191</td><td>MICHAEL FIRTH</td><td></td><td>0.0067</td></tr>
<tr><td>191</td><td>ARTURO BRIS</td><td>INTERNATIONAL INSTITUTE FOR MANAGEMENT DEVELOPMENT</td><td>0.0067</td></tr>
<tr><td>191</td><td>PRADEEP K YADAV</td><td></td><td>0.0067</td></tr>
<tr><td>216</td><td>GEORGE PANAYOTOV</td><td>GEORGETOWN UNIVERSITY</td><td>0.0066</td></tr>
<tr><td>217</td><td>YUE MA</td><td>LINGNAN UNIVERSITY</td><td>0.0059</td></tr>
<tr><td>218</td><td>JIEKUN HUANG</td><td></td><td>0.0055</td></tr>
<tr><td>219</td><td>YAWEN JIAO</td><td></td><td>0.005</td></tr>
<tr><td>220</td><td>HARRY DEANGELO</td><td>UNIVERSITY OF SOUTHERN CALIFORNIA</td><td>0.005</td></tr>
<tr><td>220</td><td>LINDA DEANGELO</td><td>UNIVERSITY OF SOUTHERN CALIFORNIA</td><td>0.005</td></tr>
<tr><td>222</td><td>DAVID R SKEIE</td><td>FEDERAL RESERVE BANK OF NEW YORK</td><td>0.0049</td></tr>
<tr><td>223</td><td>ROBERT J HODRICK</td><td></td><td>0.0048</td></tr>
<tr><td>224</td><td>ANDRIY BODNARUK</td><td></td><td>0.0041</td></tr>
<tr><td>225</td><td>MINGMING ZHOU</td><td></td><td>0.004</td></tr>
<tr><td>226</td><td>TANJU YORULMAZER</td><td>FEDERAL RESERVE BANK OF NEW YORK</td><td>0.0035</td></tr>
<tr><td>227</td><td>YUHANG XING</td><td></td><td>0.0033</td></tr>
<tr><td>228</td><td>DILIP B MADAN</td><td></td><td>0.0033</td></tr>
<tr><td>229</td><td>CAROLE COMERTON-FORDE</td><td>UNIVERSITY OF SYDNEY</td><td>0.0033</td></tr>
<tr><td>230</td><td>ROCCO R HUANG</td><td>FEDERAL RESERVE BANK OF PHILADELPHIA</td><td>0.0033</td></tr>
<tr><td>230</td><td>HONG YAN</td><td>UNIVERSITY OF SOUTH CAROLINA</td><td>0.0033</td></tr>
<tr><td>230</td><td>EKKEHART BOEHMER</td><td></td><td>0.0033</td></tr>
<tr><td>230</td><td>ULF AXELSON</td><td></td><td>0.0033</td></tr>
<tr><td>230</td><td>ANDREW CAPLIN</td><td>NEW YORK UNIVERSITY</td><td>0.0033</td></tr>
<tr><td>230</td><td>THEODORE C MOORMAN</td><td></td><td>0.0033</td></tr>
<tr><td>230</td><td>OTTO VAN HEMERT</td><td>NEW YORK UNIVERSITY</td><td>0.0033</td></tr>
<tr><td>230</td><td>GUR HUBERMAN</td><td>COLUMBIA UNIVERSITY</td><td>0.0033</td></tr>
<tr><td>230</td><td>MANJU PURI</td><td>DUKE UNIVERSITY</td><td>0.0033</td></tr>
<tr><td>230</td><td>IMAN VAN LELYVELD</td><td></td><td>0.0033</td></tr>
<tr><td>230</td><td>ADRIANO A RAMPINI</td><td></td><td>0.0033</td></tr>
<tr><td>230</td><td>HARRY HUIZINGA</td><td></td><td>0.0033</td></tr>
<tr><td>230</td><td>MORTEN SORENSEN</td><td>COLUMBIA UNIVERSITY</td><td>0.0033</td></tr>
<tr><td>230</td><td>UGUR LEL</td><td>VIRGINIA POLYTECHNIC INSTITUTE AND STATE UNIVERSITY</td><td>0.0033</td></tr>
<tr><td>230</td><td>JEROLD B WARNER</td><td>UNIVERSITY OF ROCHESTER</td><td>0.0033</td></tr>
<tr><td>230</td><td>SUSAN CHAPLINSKY</td><td></td><td>0.0033</td></tr>
<tr><td>230</td><td>AMRITA S NAIN</td><td>MCGILL UNIVERSITY</td><td>0.0033</td></tr>
<tr><td>230</td><td>RAGHURAM G RAJAN</td><td>UNIVERSITY OF CHICAGO</td><td>0.0033</td></tr>
<tr><td>230</td><td>LI-WEN CHEN</td><td></td><td>0.0033</td></tr>
<tr><td>230</td><td>MARK M WESTERFIELD</td><td></td><td>0.0033</td></tr>
<tr><td>230</td><td>KATHLEEN WEISS HANLEY</td><td></td><td>0.0033</td></tr>
<tr><td>230</td><td>M SHAHID EBRAHIM</td><td>BANGOR UNIVERSITY</td><td>0.0033</td></tr>
<tr><td>230</td><td>CHRISTIAN LEUZ</td><td></td><td>0.0033</td></tr>
<tr><td>230</td><td>LUBOS PASTOR</td><td></td><td>0.0033</td></tr>
<tr><td>230</td><td>MARK T LEARY</td><td>WASHINGTON UNIVERSITY</td><td>0.0033</td></tr>
<tr><td>230</td><td>SANDRO C ANDRADE</td><td>UNIVERSITY OF MIAMI</td><td>0.0033</td></tr>
<tr><td>256</td><td>EDUARDO LEVY YEYATI</td><td></td><td>0.0033</td></tr>
<tr><td>257</td><td>SIEW HONG TEOH</td><td>UNIVERSITY OF CALIFORNIA, IRVINE</td><td>0.0033</td></tr>
<tr><td>258</td><td>ONUR BAYAR</td><td>UNIVERSITY OF TEXAS, SAN ANTONIO</td><td>0.0033</td></tr>
<tr><td>258</td><td>QUN WU</td><td></td><td>0.0033</td></tr>
<tr><td>260</td><td>FABIO TROJANI</td><td></td><td>0.0017</td></tr>
<tr><td>260</td><td>CHARLES M JONES</td><td>COLUMBIA UNIVERSITY</td><td>0.0017</td></tr>
<tr><td>260</td><td>ANZHELA KNYAZEVA</td><td>UNIVERSITY OF ROCHESTER</td><td>0.0017</td></tr>
<tr><td>260</td><td>PAOLO PORCHIA</td><td></td><td>0.0017</td></tr>
<tr><td>260</td><td>TERRENCE HENDERSHOTT</td><td>UNIVERSITY OF CALIFORNIA, BERKELEY</td><td>0.0017</td></tr>
<tr><td>260</td><td>DIANA KNYAZEVA</td><td>UNIVERSITY OF ROCHESTER</td><td>0.0017</td></tr>
<tr><td>266</td><td>AUGUSTO DE LA TORRE</td><td></td><td>0.0017</td></tr>
<tr><td>267</td><td>HENRI SERVAES</td><td></td><td>0.0017</td></tr>
<tr><td>268</td><td>ROBERT A JARROW</td><td></td><td>0.0016</td></tr>
<tr><td>269</td><td>DOUGLAS GALE</td><td>NEW YORK UNIVERSITY</td><td>0.0016</td></tr>
<tr><td>270</td><td>Z JAY WANG</td><td>UNIVERSITY OF ILLINOIS, URBANA-CHAMPAIGN</td><td>0.0015</td></tr>
<tr><td>271</td><td>BILL B FRANCIS</td><td></td><td>0.0014</td></tr>
<tr><td>272</td><td>THIERRY FOUCAULT</td><td>HEC PARIS</td><td>0.0011</td></tr>
<tr><td>272</td><td>QUENTIN BOUCLY</td><td>HEC PARIS</td><td>0.0011</td></tr>
<tr><td>274</td><td>JOHN G MATSUSAKA</td><td></td><td>0.0009</td></tr>
<tr><td>275</td><td>YI-TSUNG LEE</td><td></td><td>0.0008</td></tr>
<tr><td>276</td><td>BRAD M BARBER</td><td></td><td>0.0006</td></tr>
<tr><td>277</td><td>PING LIN</td><td></td><td>0.0005</td></tr>
<tr><td>278</td><td>FRANK M SONG</td><td></td><td>0.0005</td></tr>
<tr><td>278</td><td>JAMES R BARTH</td><td></td><td>0.0005</td></tr>
<tr><td>280</td><td>ANDREI SIMONOV</td><td>MICHIGAN STATE UNIVERSITY</td><td>0.0002</td></tr>
<tr><td>281</td><td>SUNGHO CHOI</td><td></td><td>0.0001</td></tr>
<tr><td>281</td><td>MAYA WAISMAN</td><td></td><td>0.0001</td></tr>
<tr><td>283</td><td>RAN DUCHIN</td><td></td><td>0.0001</td></tr>
<tr><td>284</td><td>CHUNCHI WU</td><td>SUNY, BUFFALO</td><td>0.0001</td></tr>
<tr><td>285</td><td>ROGER D STOVER</td><td></td><td>0.0</td></tr>
<tr><td>285</td><td>KEKE SONG</td><td>DALHOUSIE UNIVERSITY</td><td>0.0</td></tr>
<tr><td>287</td><td>ANTOINE MARTIN</td><td>FEDERAL RESERVE BANK OF NEW YORK</td><td>0.0</td></tr>
<tr><td>288</td><td>MARIA F PENAS</td><td>UNIVERSITY CATOLICA PORTUGUESA</td><td>0.0</td></tr>
<tr><td>289</td><td>JEFF JIEWEI YU</td><td>SOUTHERN METHODIST UNIVERSITY</td><td>0.0</td></tr>
<tr><td>289</td><td>SONYA SEONGYEON LIM</td><td></td><td>0.0</td></tr>
<tr><td>291</td><td>VINEER BHANSALI</td><td></td><td>0.0</td></tr>
<tr><td>292</td><td>TOM NOHEL</td><td></td><td>0.0</td></tr>
<tr><td>292</td><td>SERGIO L SCHMUKLER</td><td></td><td>0.0</td></tr>
<tr><td>294</td><td>AJAY KHORANA</td><td></td><td>0.0</td></tr>
<tr><td>295</td><td>DAVID SRAER</td><td>PRINCETON UNIVERSITY</td><td>0.0</td></tr>
<tr><td>295</td><td>NEELTJE VAN HOREN</td><td></td><td>0.0</td></tr>
<tr><td>297</td><td>JOSEPH E STIGLITZ</td><td></td><td>0.0</td></tr>
<tr><td>297</td><td>PATRICK GAGLIARDINI</td><td></td><td>0.0</td></tr>
<tr><td>299</td><td>YAN ALICE XIE</td><td></td><td>0.0</td></tr>
<tr><td>299</td><td>BING ANDERSON</td><td></td><td>0.0</td></tr>
<tr><td>299</td><td>CHRISTOPHER TONETTI</td><td>NEW YORK UNIVERSITY</td><td>0.0</td></tr>
<tr><td>299</td><td>HOWARD QI</td><td>MICHIGAN TECHNOLOGICAL UNIVERSITY</td><td>0.0</td></tr>
<tr><td>303</td><td>ROHAN WILLIAMSON</td><td></td><td>0.0</td></tr>
<tr><td>303</td><td>ALBERT J MENKVELD</td><td>VU UNIVERSITY AMSTERDAM</td><td>0.0</td></tr>
<tr><td>303</td><td>PAMELA C MOULTON</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JEFFREY WURGLER</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>LEONARDO M MADUREIRA</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>EITAN GOLDMAN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>KATHARINA PISTOR</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ROBERT F STAMBAUGH</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>FRANCIS BREEDON</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>KYUNG SUH PARK</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>HELENA SVALERYD</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>NOAH STOFFMAN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>EDWARD SIMPSON PRESCOTT</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>PEI SHAO</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>DANIELLE XU</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>LIEVEN BAELE</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ANUSHA CHARI</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>LARS-ALEXANDER KUEHN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JIE JIAO</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>PER OSTBERG</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>TOR-ERIK BAKKE</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JOHN C PERSONS</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ERNST MAUG</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>WEN YU</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>GONGMENG CHEN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>KATHARINA LEWELLEN</td><td>DARTMOUTH COLLEGE</td><td>0.0</td></tr>
<tr><td>306</td><td>ERIC ENGSTROM</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>FENG ZHAO</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>XI HAN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ALBERTO PLAZZI</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ALLAUDEEN S HAMEED</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ILKAY SENDENIZ-YUNCU</td><td>IESEG SCHOOL OF MANAGEMENT</td><td>0.0</td></tr>
<tr><td>306</td><td>NEIL BRISLEY</td><td>UNIVERSITY OF WATERLOO</td><td>0.0</td></tr>
<tr><td>306</td><td>CHRISTIAN AT</td><td>UNIVERSITY OF FRANCHE-COMTÉ</td><td>0.0</td></tr>
<tr><td>306</td><td>NISHANT DASS</td><td>GEORGIA INSTITUTE OF TECHNOLOGY</td><td>0.0</td></tr>
<tr><td>306</td><td>ZVIKA NEEMAN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>FENGHUA WANG</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>HANJIANG ZHANG</td><td>NANYANG TECHNOLOGICAL UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>JAY SHANKEN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ASHIQ ALI</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JOHN AMMER</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>GAYLE R ERWIN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>RAJDEEP PATGIRI</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>YILI CHIEN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>AMY K DITTMAR</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ROGER K LOH</td><td>SINGAPORE MANAGEMENT UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>ALLAN A ZEBEDEE</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>LEIGH A RIDDICK</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ROBERT NOVY-MARX</td><td>UNIVERSITY OF ROCHESTER</td><td>0.0</td></tr>
<tr><td>306</td><td>IVALINA KALCHEVA</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>RENEE B ADAMS</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ZORAN IVKOVIC</td><td>MICHIGAN STATE UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>JOHN MR CHALMERS</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>CLIFFORD M HURVICH</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JULIAN ATANASSOV</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>BING HAN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>KRISTIN J FORBES</td><td>MASSACHUSETTS INSTITUTE OF TECHNOLOGY</td><td>0.0</td></tr>
<tr><td>306</td><td>YUANYUAN ZHANG</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ANTJE BERNDT</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>MICHAEL S WEISBACH</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>RAGHAVENDRA RAU</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>SONIA ML WONG</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>SANDEEP BALIGA</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>GEORGE M KORNIOTIS</td><td>UNIVERSITY OF MIAMI</td><td>0.0</td></tr>
<tr><td>306</td><td>BIDISHA CHAKRABARTY</td><td>SAINT LOUIS UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>JAMES B THOMSON</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>NATHAN WALCOTT</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>AMIR BARNEA</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>CHOTIBHAK JOTIKASTHIRA</td><td>UNIVERSITY OF NORTH CAROLINA, CHAPEL HILL</td><td>0.0</td></tr>
<tr><td>306</td><td>ERIC K KELLEY</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>SIMON WOLFE</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>STEVEN DRUCKER</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>CHRISTOS CABOLIS</td><td>ALBA GRADUATE BUSINESS SCHOOL</td><td>0.0</td></tr>
<tr><td>306</td><td>CHAD SYVERSON</td><td>UNIVERSITY OF CHICAGO</td><td>0.0</td></tr>
<tr><td>306</td><td>VIT BUBAK</td><td>FITCH SOLUTIONS</td><td>0.0</td></tr>
<tr><td>306</td><td>JOHN AMERIKS</td><td>VANGUARD GROUP</td><td>0.0</td></tr>
<tr><td>306</td><td>SCOTT C LINN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>TZACHI ZACH</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>YUHAI XUAN</td><td>HARVARD UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>TALIS J PUTNINS</td><td>STOCKHOLM SCHOOL OF ECONOMICS</td><td>0.0</td></tr>
<tr><td>306</td><td>YULIYA DEMYANYK</td><td>FEDERAL RESERVE BANK OF CLEVELAND</td><td>0.0</td></tr>
<tr><td>306</td><td>GREGORY W BROWN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>YRJO KOSKINEN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JOHN LEAHY</td><td>NEW YORK UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>LEVENT GUNTAY</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>CHRISTIAN ZEHNDER</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>SEONGHOON CHO</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>RANGARAJAN K SUNDARAM</td><td>NEW YORK UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>CARRIE H PAN</td><td>SANTA CLARA UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>SHANE A CORWIN</td><td>UNIVERSITY OF NOTRE DAME</td><td>0.0</td></tr>
<tr><td>306</td><td>FRANCIS E WARNOCK</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>AKIKO WATANABE</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ZHENG SUN</td><td>UNIVERSITY OF CALIFORNIA, IRVINE</td><td>0.0</td></tr>
<tr><td>306</td><td>ALLEN FERRELL</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>MALCOLM P BAKER</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>MARIANNE BERTRAND</td><td>UNIVERSITY OF CHICAGO</td><td>0.0</td></tr>
<tr><td>306</td><td>MARIA RUEDA MAURER</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>TAMARA PAK</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>MARK VAN ACHTER</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>FENGHUA SONG</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>DANIEL DORN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>AMY K EDWARDS</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>LAMONT K BLACK</td><td>BOARD OF GOVERNORS OF THE FEDERAL RESERVE SYSTEM</td><td>0.0</td></tr>
<tr><td>306</td><td>KOEN INGHELBRECHT</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ARIS STOURAITIS</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>FILIP ZIKES</td><td>IMPERIAL COLLEGE LONDON</td><td>0.0</td></tr>
<tr><td>306</td><td>JEREMY C STEIN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>BERNARD DUMAS</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>KAY GIESECKE</td><td>STANFORD UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>VIJAY YERRAMILLI</td><td>UNIVERSITY OF HOUSTON</td><td>0.0</td></tr>
<tr><td>306</td><td>GUNTHER WUYTS</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>CHRISTIAN BEER</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>TORE ELLINGSEN</td><td>STOCKHOLM SCHOOL OF ECONOMICS</td><td>0.0</td></tr>
<tr><td>306</td><td>ANDREW F NEWMAN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JIE HE</td><td>UNIVERSITY OF GEORGIA</td><td>0.0</td></tr>
<tr><td>306</td><td>ANTOINETTE SCHOAR</td><td>MASSACHUSETTS INSTITUTE OF TECHNOLOGY</td><td>0.0</td></tr>
<tr><td>306</td><td>ADAM YC LEI</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JAMES J CHOI</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>FALKO FECHT</td><td>EUROPEAN BUSINESS SCHOOL</td><td>0.0</td></tr>
<tr><td>306</td><td>PING JIANG</td><td>UNIVERSITY OF INTERNATIONAL BUSINESS AND ECONOMICS</td><td>0.0</td></tr>
<tr><td>306</td><td>JEREMY K PAGE</td><td>BRIGHAM YOUNG UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>ADRIEN VERDELHAN</td><td>MASSACHUSETTS INSTITUTE OF TECHNOLOGY</td><td>0.0</td></tr>
<tr><td>306</td><td>WALTER N TOROUS</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>XAVIER FREIXAS</td><td>POMPEU FABRA UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>LUZI HAIL</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ZAIHUI YANG</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>RONALD W ANDERSON</td><td>LONDON SCHOOL OF ECONOMICS AND POLITICAL SCIENCE</td><td>0.0</td></tr>
<tr><td>306</td><td>DANLING JIANG</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>LAURA VELDKAMP</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>MICHAEL WEDOW</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>MARCO PAGANO</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>BILGE YILMAZ</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>OLIVER BOSCH</td><td>UNIVERSITY OF FRANKFURT</td><td>0.0</td></tr>
<tr><td>306</td><td>ARTHUR KORTEWEG</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>RONG WANG</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JUN PAN</td><td>MASSACHUSETTS INSTITUTE OF TECHNOLOGY</td><td>0.0</td></tr>
<tr><td>306</td><td>BONG-CHAN KHO</td><td>SEOUL NATIONAL UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>PING LIU</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ALEXANDER S GORBENKO</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>BRUNO STRULOVICI</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ALEXANDER POPOV</td><td>EUROPEAN CENTRAL BANK</td><td>0.0</td></tr>
<tr><td>306</td><td>CHRISTOF STAHEL</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>HUNG-CHIA HSU</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>HAOXIANG ZHU</td><td>STANFORD UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>MARTIN CIHAK</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JERRY CAO</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>RICHMOND D MATHEWS</td><td>DUKE UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>AMIT BUBNA</td><td>INDIAN SCHOOL OF BUSINESS</td><td>0.0</td></tr>
<tr><td>306</td><td>GUOJUN WU</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>KATHLEEN FULLER</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>RAINER JANKOWITSCH</td><td>VIENNA UNIVERSITY OF ECONOMICS AND BUSINESS</td><td>0.0</td></tr>
<tr><td>306</td><td>YONGMIAO HONG</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>STEVEN LAUFER</td><td>NEW YORK UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>ALMA COHEN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>SAMUEL LEE</td><td>NEW YORK UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>MICHAEL A GOLDSTEIN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>HARALD HAU</td><td>UNIVERSITY OF GENEVA</td><td>0.0</td></tr>
<tr><td>306</td><td>ALEX BOULATOV</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ANN E SHERMAN</td><td>DEPAUL UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>GORDON M PHILLIPS</td><td>UNIVERSITY OF MARYLAND</td><td>0.0</td></tr>
<tr><td>306</td><td>TYLER SHUMWAY</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JOY ISHII</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>HUANHUAN ZHENG</td><td>NANYANG TECHNOLOGICAL UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>TANO SANTOS</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>BRIAN C HATCH</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ANDREW SCHOTTER</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JIE YANG</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>PINAR YES</td><td>SCHWEIZERISCHE NATIONALBANK</td><td>0.0</td></tr>
<tr><td>306</td><td>ZSUZSA R HUSZAR</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JONATHAN REUTER</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>OLA BENGTSSON</td><td>UNIVERSITY OF ILLINOIS, URBANA-CHAMPAIGN</td><td>0.0</td></tr>
<tr><td>306</td><td>SAMUEL G HANSON</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>LEV RATNOVSKI</td><td>INTERNATIONAL MONETARY FUND</td><td>0.0</td></tr>
<tr><td>306</td><td>STEWART C MYERS</td><td>MASSACHUSETTS INSTITUTE OF TECHNOLOGY</td><td>0.0</td></tr>
<tr><td>306</td><td>KATHRYN L DEWENTER</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>QIANG DAI</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>YAO-MIN CHIANG</td><td>NATIONAL CHENGCHI UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>WENJIN KANG</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>OZGUR EMRE ERGUNGOR</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>HYUNG CHEOL KANG</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>CLARA C RAPOSO</td><td>TECHNICAL UNIVERSITY OF LISBON</td><td>0.0</td></tr>
<tr><td>306</td><td>INGOLF DITTMANN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>NANCY MASSCHELEIN</td><td>FINANCIAL ARCHITECTS</td><td>0.0</td></tr>
<tr><td>306</td><td>ANDREW ELLUL</td><td>INDIANA UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>DAVID NG</td><td>CORNELL UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>RAFAL M WOJAKOWSKI</td><td>LANCASTER UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>KRISHNAMURTHY V SUBRAMANIAN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>TAN WANG</td><td>UNIVERSITY OF BRITISH COLUMBIA</td><td>0.0</td></tr>
<tr><td>306</td><td>LEI ZHANG</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>XAVIER GABAIX</td><td>NEW YORK UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>TULLIO JAPPELLI</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ZVI WIENER</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JULIE WULF</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>MORTEN L BECH</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>STAVROS PANAGEAS</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ELENA N ASPAROUHOVA</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>CHRISTOPHER C GECZY</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>BROOKE W STANLEY</td><td>WINTHROP UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>G WILLIAM SCHWERT</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ITZHAK VENEZIA</td><td>HEBREW UNIVERSITY OF JERUSALEM</td><td>0.0</td></tr>
<tr><td>306</td><td>PAUL A LAUX</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JESSICA RUTHERFORD</td><td>TEXAS A&M UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>FAN CHEN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ERIC ZITZEWITZ</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ANH LE</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>LUBOMIR LITOV</td><td>WASHINGTON UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>YIMING QIAN</td><td>UNIVERSITY OF IOWA</td><td>0.0</td></tr>
<tr><td>306</td><td>PAOLO GUASONI</td><td>BOSTON UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>ALEXEY LEVKOV</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>KLAAS KNOT</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>T COLIN CAMPBELL</td><td>MIAMI UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>SANDEEP DAHIYA</td><td>GEORGETOWN UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>PENG YU</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>LIOR MENZLY</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>YOTHIN JINJARAK</td><td>NANYANG TECHNOLOGICAL UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>LINDA L TESAR</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>DAVID J BROPHY</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>FREDRIK HEYMAN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>YUEWU XU</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>YUEHUA QI</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JONATHAN LEWELLEN</td><td>DARTMOUTH COLLEGE</td><td>0.0</td></tr>
<tr><td>306</td><td>KENNETH A KAVAJECZ</td><td>UNIVERSITY OF WISCONSIN-MADISON</td><td>0.0</td></tr>
<tr><td>306</td><td>MARCEL PETER</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>MICHAEL SCHOR</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>SERGIY GOROVYY</td><td>COLUMBIA UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>LOUIS GAGNON</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ANAND SRINIVASAN</td><td>NATIONAL UNIVERSITY OF SINGAPORE</td><td>0.0</td></tr>
<tr><td>306</td><td>SANG YONG PARK</td><td>YONSEI UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>NIKOLAI ROUSSANOV</td><td>UNIVERSITY OF PENNSYLVANIA</td><td>0.0</td></tr>
<tr><td>306</td><td>JUNBO WANG</td><td>CITY UNIVERSITY HONG KONG</td><td>0.0</td></tr>
<tr><td>306</td><td>NICHOLAS F CARLINE</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ZHIQIANG SUN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JASON KOTTER</td><td>UNIVERSITY OF MICHIGAN</td><td>0.0</td></tr>
<tr><td>306</td><td>FLORIN DOROBANTU</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>FRANCIS A LONGSTAFF</td><td>UNIVERSITY OF CALIFORNIA, LOS ANGELES</td><td>0.0</td></tr>
<tr><td>306</td><td>GREG NINI</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JANET MITCHELL</td><td>NATIONAL BANK OF BELGIUM</td><td>0.0</td></tr>
<tr><td>306</td><td>SCOTT JOSLIN</td><td>MASSACHUSETTS INSTITUTE OF TECHNOLOGY</td><td>0.0</td></tr>
<tr><td>306</td><td>BAS JM WERKER</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ULRICH BINDSEIL</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>GERALD R JENSEN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>W BRIAN BARRETT</td><td>UNIVERSITY OF MIAMI</td><td>0.0</td></tr>
<tr><td>306</td><td>RONI MICHAELY</td><td>CORNELL UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>NURLANBEK TYNAEV</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ERIC YEUNG</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JONGIL SO</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>MICHAEL F GALLMEYER</td><td>UNIVERSITY OF VIRGINIA</td><td>0.0</td></tr>
<tr><td>306</td><td>ALEXANDER KURSHEV</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>SUGATO BHATTACHARYYA</td><td>UNIVERSITY OF MICHIGAN</td><td>0.0</td></tr>
<tr><td>306</td><td>THOMAS W BATES</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>MUNGO WILSON</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>DANIEL BERGSTRESSER</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>VICTOR DEMIGUEL</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>BRIGITTE C MADRIAN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ILAN GUTTMAN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JOHANNA MOLLERSTROM</td><td>HARVARD UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>JOHANNES VOGET</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ALEXANDER CHERNY</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ANITA TACI</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>RODNEY RAMCHARAN</td><td>INTERNATIONAL MONETARY FUND</td><td>0.0</td></tr>
<tr><td>306</td><td>JOANNA SHUANG WU</td><td>UNIVERSITY OF ROCHESTER</td><td>0.0</td></tr>
<tr><td>306</td><td>YAO LU</td><td>TSINGHUA UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>ZACHARIAS SAUTNER</td><td>UNIVERSITY OF AMSTERDAM</td><td>0.0</td></tr>
<tr><td>306</td><td>ANDREA L EISFELDT</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>DANIEL WOLFENZON</td><td>COLUMBIA UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>DHAMMIKA DHARMAPALA</td><td>UNIVERSITY OF ILLINOIS, URBANA-CHAMPAIGN</td><td>0.0</td></tr>
<tr><td>306</td><td>JONAS VLACHOS</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>GREGORY B VAN INWEGEN</td><td>CITI PRIVATE BANK</td><td>0.0</td></tr>
<tr><td>306</td><td>KYLE CHAUVIN</td><td>HARVARD UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>YING DUAN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>THEO E NIJMAN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>GURDIP S BAKSHI</td><td>UNIVERSITY OF MARYLAND</td><td>0.0</td></tr>
<tr><td>306</td><td>SIKANDAR HUSSAIN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>LUCIAN A TAYLOR</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JOSEPH GOLEC</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>THEO VERMAELEN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ANTONIO MORENO</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JAMES B HEATON</td><td>BARTLIT BECK HERMAN PALENCHAR AND SCOTT</td><td>0.0</td></tr>
<tr><td>306</td><td>ANTTI PETAJISTO</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>KANGZHEN XIE</td><td>UNIVERSITY OF ARKANSAS</td><td>0.0</td></tr>
<tr><td>306</td><td>KUMAR VENKATARAMAN</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>RICHARD B EVANS</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>STEFANO DELLAVIGNA</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JOEL F HOUSTON</td><td>UNIVERSITY OF FLORIDA</td><td>0.0</td></tr>
<tr><td>306</td><td>DAVID C SMITH</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>NICOLE M BOYSON</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>YEHNING CHEN</td><td>NATIONAL TAIWAN UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>SHOUYANG WANG</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>SORIN M SORESCU</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>STEPHEN M SCHAEFER</td><td>LONDON BUSINESS SCHOOL</td><td>0.0</td></tr>
<tr><td>306</td><td>PATRIK SANDAS</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>LIPING XU</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>YI WANG</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>SCOTT J WEISBENNER</td><td>UNIVERSITY OF ILLINOIS, URBANA-CHAMPAIGN</td><td>0.0</td></tr>
<tr><td>306</td><td>HERNAN ORTIZ-MOLINA</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>ZUR SHAPIRA</td><td>NEW YORK UNIVERSITY</td><td>0.0</td></tr>
<tr><td>306</td><td>PETER F POPE</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>DRAGON YONGJUN TANG</td><td></td><td>0.0</td></tr>
<tr><td>306</td><td>JUN CAI</td><td></td><td>0.0</td></tr>
</tbody>