
<thead>
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Affiliation (on published papers)</th>
        <th>Value</th>
    </tr>
</thead>
<tbody>
<tr><td>1</td><td>ANTHONY SAUNDERS</td><td>NEW YORK UNIVERSITY</td><td>0.6708</td></tr>
<tr><td>2</td><td>ALLEN N BERGER</td><td>BOARD OF GOVERNORS OF THE FEDERAL RESERVE SYSTEM</td><td>0.5905</td></tr>
<tr><td>3</td><td>KOSE JOHN</td><td>NEW YORK UNIVERSITY</td><td>0.4615</td></tr>
<tr><td>4</td><td>RANGARAJAN K SUNDARAM</td><td>NEW YORK UNIVERSITY</td><td>0.4344</td></tr>
<tr><td>5</td><td>DAVID L YERMACK</td><td>NEW YORK UNIVERSITY</td><td>0.4193</td></tr>
<tr><td>6</td><td>ANIL SHIVDASANI</td><td>UNIVERSITY OF NORTH CAROLINA, CHAPEL HILL</td><td>0.3401</td></tr>
<tr><td>7</td><td>JUN-KOO KANG</td><td>MICHIGAN STATE UNIVERSITY</td><td>0.2919</td></tr>
<tr><td>8</td><td>RENE M STULZ</td><td>OHIO STATE UNIVERSITY</td><td>0.2451</td></tr>
<tr><td>9</td><td>MARK J FLANNERY</td><td>UNIVERSITY OF FLORIDA</td><td>0.2081</td></tr>
<tr><td>10</td><td>JOEL F HOUSTON</td><td>UNIVERSITY OF FLORIDA</td><td>0.1802</td></tr>
<tr><td>11</td><td>FEDERICO M BANDI</td><td>DEUTSCHE MORGAN GRENFELL; OHIO STATE UNIVERSITY</td><td>0.0754</td></tr>
<tr><td>11</td><td>DIANA HANCOCK</td><td>BOARD OF GOVERNORS OF THE FEDERAL RESERVE SYSTEM</td><td>0.0754</td></tr>
<tr><td>11</td><td>MICHAEL D RYNGAERT</td><td>UNIVERSITY OF FLORIDA</td><td>0.0754</td></tr>
<tr><td>11</td><td>BERRY K WILSON</td><td>PACE UNIVERSITY; UNITED STATES FEDERAL COMMUNICATIONS COMMISSION</td><td>0.0754</td></tr>
<tr><td>15</td><td>GERARD CAPRIO</td><td>WORLD BANK</td><td>0.0554</td></tr>
<tr><td>16</td><td>MANJU PURI</td><td>STANFORD UNIVERSITY; DUKE UNIVERSITY</td><td>0.0385</td></tr>
<tr><td>16</td><td>PHILIP E STRAHAN</td><td>BOSTON COLLEGE; FEDERAL RESERVE BANK OF NEW YORK</td><td>0.0385</td></tr>
<tr><td>16</td><td>ELI OFEK</td><td>NEW YORK UNIVERSITY</td><td>0.0385</td></tr>
<tr><td>16</td><td>EDWARD J KANE</td><td>BOSTON COLLEGE</td><td>0.0385</td></tr>
<tr><td>20</td><td>DAVID B HUMPHREY</td><td>FLORIDA STATE UNIVERSITY</td><td>0.0192</td></tr>
<tr><td>21</td><td>MARY A WEISS</td><td>TEMPLE UNIVERSITY</td><td>0.0189</td></tr>
<tr><td>21</td><td>J DAVID CUMMINS</td><td>UNIVERSITY OF PENNSYLVANIA</td><td>0.0189</td></tr>
<tr><td>23</td><td>JOSEPH M SCALISE</td><td>UNIVERSITY OF PENNSYLVANIA</td><td>0.0053</td></tr>
<tr><td>24</td><td>SHARON TENNYSON</td><td>CORNELL UNIVERSITY</td><td>0.0008</td></tr>
<tr><td>25</td><td>ROHAN WILLIAMSON</td><td>GEORGETOWN UNIVERSITY</td><td>0.0</td></tr>
<tr><td>25</td><td>HONGMIN ZI</td><td>SEJONG UNIVERSITY</td><td>0.0</td></tr>
<tr><td>25</td><td>CHRISTOPHER M JAMES</td><td>UNIVERSITY OF FLORIDA</td><td>0.0</td></tr>
<tr><td>25</td><td>MAHENDRARAJAH NIMALENDRAN</td><td>UNIVERSITY OF FLORIDA</td><td>0.0</td></tr>
<tr><td>25</td><td>DANIEL M COVITZ</td><td>BOARD OF GOVERNORS OF THE FEDERAL RESERVE SYSTEM</td><td>0.0</td></tr>
<tr><td>25</td><td>JAMES A WILCOX</td><td>UNIVERSITY OF CALIFORNIA, BERKELEY</td><td>0.0</td></tr>
<tr><td>25</td><td>LEMMA W SENBET</td><td>UNIVERSITY OF MARYLAND</td><td>0.0</td></tr>
<tr><td>25</td><td>JAMES P WESTON</td><td>UNIVERSITY OF VIRGINIA; RICE UNIVERSITY</td><td>0.0</td></tr>
<tr><td>25</td><td>SALLY M DAVIES</td><td>BOARD OF GOVERNORS OF THE FEDERAL RESERVE SYSTEM</td><td>0.0</td></tr>
<tr><td>25</td><td>HYUK CHOE</td><td>SEOUL NATIONAL UNIVERSITY</td><td>0.0</td></tr>
<tr><td>25</td><td>AMAR GANDE</td><td>VANDERBILT UNIVERSITY</td><td>0.0</td></tr>
<tr><td>25</td><td>GREGORY F UDELL</td><td>INDIANA UNIVERSITY</td><td>0.0</td></tr>
<tr><td>25</td><td>JULIA PORTER LIEBESKIND</td><td>UNIVERSITY OF SOUTHERN CALIFORNIA</td><td>0.0</td></tr>
<tr><td>25</td><td>BONG-CHAN KHO</td><td>SEOUL NATIONAL UNIVERSITY</td><td>0.0</td></tr>
<tr><td>25</td><td>MENACHEM BRENNER</td><td>NEW YORK UNIVERSITY</td><td>0.0</td></tr>
<tr><td>25</td><td>JENNIFER E BETHEL</td><td>BABSON COLLEGE</td><td>0.0</td></tr>
<tr><td>25</td><td>SETH D BONIME</td><td>BOARD OF GOVERNORS OF THE FEDERAL RESERVE SYSTEM</td><td>0.0</td></tr>
<tr><td>25</td><td>VIRAL V ACHARYA</td><td>LONDON BUSINESS SCHOOL; NEW YORK UNIVERSITY</td><td>0.0</td></tr>
<tr><td>25</td><td>ANDY NARANJO</td><td>UNIVERSITY OF FLORIDA</td><td>0.0</td></tr>
<tr><td>25</td><td>PHILIP G BERGER</td><td>UNIVERSITY OF PENNSYLVANIA</td><td>0.0</td></tr>
<tr><td>25</td><td>JIANPING MEI</td><td>NEW YORK UNIVERSITY</td><td>0.0</td></tr>
<tr><td>25</td><td>TAKESHI YAMADA</td><td>HONG KONG UNIVERSITY OF SCIENCE AND TECHNOLOGY</td><td>0.0</td></tr>
<tr><td>25</td><td>REBECCA S DEMSETZ</td><td>FEDERAL RESERVE BANK OF NEW YORK</td><td>0.0</td></tr>
<tr><td>25</td><td>LEE PINKOWITZ</td><td>OHIO STATE UNIVERSITY</td><td>0.0</td></tr>
<tr><td>25</td><td>THOMAS HELLMANN</td><td>UNIVERSITY OF BRITISH COLUMBIA; STANFORD UNIVERSITY</td><td>0.0</td></tr>
<tr><td>25</td><td>ARMEN HOVAKIMIAN</td><td>CUNY, BARUCH COLLEGE</td><td>0.0</td></tr>
<tr><td>25</td><td>LAZARUS A ANGBAZO</td><td>PURDUE UNIVERSITY</td><td>0.0</td></tr>
<tr><td>25</td><td>CHARLES J HADLOCK</td><td>MICHIGAN STATE UNIVERSITY</td><td>0.0</td></tr>
<tr><td>25</td><td>YONG-CHEOL KIM</td><td>CLEMSON UNIVERSITY</td><td>0.0</td></tr>
</tbody>